{% load i18n %}
<img src="{{ MEDIA_URL }}img/alibaba-information-platfrom.png" alt="" height="22" style="margin-right:auto;" />
{% if request.LANGUAGE_CODE == 'zh-cn' or request.LANGUAGE_CODE == 'zh-tw' %}
<a href="{{SITE_ROOT}}help/" target="_blank" class="item">帮助</a>
{% else %}
<a href="{{SITE_ROOT}}help/" target="_blank" class="item">Help</a>
{% endif %}
{% if enable_terms_and_conditions %}
<a href="{{SITE_ROOT}}terms/" class="item">{% trans "Terms" %}</a>
{% endif %}
<a href="{% url 'download_client' %}" class="item">{% trans "Clients" %}</a>

